PORT=3000
NODE_ENV=development
JWT_SECRET=tu_secreto_super_seguro
JWT_EXPIRES_IN=2h

# Configuración de BD
DB_TYPE=sqlite
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=database.sqlite

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173